@use './variables.scss';

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 200px;
  background-color: rgba($color: variables.$background, $alpha: 0.25);
  box-shadow: 5px 5px variables.$background;
  border: 2px black solid;
  margin: 20px 40px;

  text-decoration: none;
  color: variables.$background;
  transition: all 0.5s ease;
  overflow: hidden;

  img {
      height: 200px;
      width: 140px;
      margin: 25px 0 20px 0;
      transition: all 0.5s ease;
  }

  h3 { // book title
      margin: 0;
      font-size: 22px;
      text-align: center;
      text-decoration: underline;
  }

  h4 { // book author
      margin: 0px;
      font-size: 15px;
  }

  p { // synopsis
    display: none;
    position: absolute;
    width: 200px;
    font-size: 12px;
    background-color: variables.$background;
    color: variables.$text;
    padding: 15px 20px;
    overflow: hidden;
    box-shadow: inset 3px 3px 0px variables.$primary;
    z-index: 3;

    span {
      margin-top: 10px;
      padding: 5px;
      display: block;
      color: variables.$text;
      background-color: variables.$primary;
    }
  }

  &:hover {
    img {
      transform: scale(1.10);
      box-shadow: 5px 5px 2px variables.$background;
    }

    p { // synopsis
      display: unset;
    }
  }
}

@media only screen and (max-width: 1024px) { // med desktop sizing... anything less than 1024px gets these styles
  .book {
    height: 300px;
    width: 200px;

    h3 { // book title
      margin: 5px 0 0 0;
      font-size: 18px;
    }

    p { // book author
        margin: 5px 0 0 0;
        font-size: 13px;
    }
  }
} 

@media only screen and (max-width: 480px) { // mobile sizing... anything less than 480px gets these styles
  .book {
    height: 300px;
    width: 200px;

    p { // synopsis
      display: none;
    }

    &:hover {
      img {
        height: 200px;
        width: 140px;
        margin: 25px 0 20px 0;
        transform: unset;
        box-shadow: unset;
      }
  
      p { // synopsis

        display: none;
      }
    }
  }
} 