@use './variables.scss';

.details {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    background-color: variables.$text;
    color: variables.$background;
    box-shadow: inset 0px 2px 2px black, inset 0px -2px 2px black;
    padding: 100px;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__bookcover {
        div {
            display: flex;
            justify-content: center;
            padding: 20px 0;
        }

        img {
            height: 450px;
            width: 300px;
            background: black;
            border: 5px variables.$primary solid;
            box-shadow: 10px 10px 10px black, inset 2px 2px 5px black;
            transition: all 1s ease;
        }
    }

    &__info {
        position: relative;
        bottom: 40px;
        width: 50%;
        min-width: 350px;
        padding-left: 100px;
        transition: all 1s ease;
        text-align: left;

        h3 { // book author
            font-weight: 500;
        }
    }

    &__edit {
        display: flex;
        justify-content: center;
        padding-top: 50px;

        button { // all child anchors
            margin: 0 20px;
        }
    }
}

.fa-star {
    &--checked {
        color: gold;
    }
} 

// -- !Media Queries - //

// Lg-desktop 1025px - 1200px
// Md-laptop 769px - 1024px
// mobile  375px - 480px
@media only screen and (max-width: 1024px) { // med desktop sizing... anything less than 1024px gets these styles
    .details {
        &__bookcover {
            img {
                height: 350px;
                width: 225px;
            }
        }
    
        &__info {
            padding-left: 60px;
            &__title { // title
                font-size: 22px;
            }

            p { // published, pages, description
                font-size: 13px;
            }
        }
    }
} 

@media only screen and (max-width: 480px) { // mobile sizing... anything less than 480px gets these styles
    .details {
        display: flex;
        padding-bottom: 40px;
        padding: 50px 0;
    
        &__container {
            flex-direction: column;
            width: 100%;
        }
    
        &__bookcover {
            div {
                display: flex;
                justify-content: center;
                padding: 20px 0;
                text-shadow: 5px 5px 3px black;
            }
    
            img {
                height: 265px;
                width: 175px;
            }
        }
    
        &__info {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            bottom: 0;
            width: 80%;
            padding: 0;
            text-align: center;
    
            h3 {
                font-weight: 500;
            }

            p {
                width: 80%;
            }
        }

        &__edit {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 50px;
            
            button {
                margin: 10px 0;
                box-shadow: 4px 4px 7px black;
            }
        }
    }
} 
