@use './variables.scss';
body {
    margin: 0;
    overflow-x: hidden;
}

button {
    height: 40px;
    width: 145px;
    background: variables.$background;
    color: variables.$text;
    border-radius: 5px;
    margin: 10px 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 145px;
    background: variables.$background;
    color: variables.$text;
    border: 2px grey solid;
    border-radius: 5px;
    margin: 10px 0;
    text-decoration: none;
    box-shadow: 5px 5px 5px black;
    transition: all 0.5s ease;

    &--alt {
        color: white;
        background: #383636;
    }

    &--delete {
        color: white;
        background: crimson;
    }

    &:hover {
        border: 2px variables.$text solid;
        background-color: rgba($color: variables.$background, $alpha: 0.85);
    }
}