@use './variables.scss'; 

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: variables.$background;
  color: variables.$text;
  white-space: nowrap;

  &__container {
    width: 40%;
  }
  
  &__title {
      width: 25%;
      text-align: left;
      font-size: 20px;
      padding-left: 20px;
  }

  &__container {
    width: 40%;
  }

  &__link { // nav bar li
      display: inline-block;
      text-decoration: none;
      text-align: center;
      width: 33%;
      color: grey;
      transition: color 0.5s ease;

      &--selected {
        color: variables.$primary;
      }

      &:hover {
        color: variables.$text;
      }
  }

  &__menuBars {
      display: none;
  }

  &__searchbar {
      display: flex;
      justify-content: right;
      align-items: center;
      width: 30%;
      padding: 0 20px;

      input {
        width: 80%;
        height: 30px;
      }

      button {
        width: 50px;
        height: 36px;
        box-shadow: unset;
      }
  }

  &__menu { // mobile navbar menu
    display: none;
  }
}

.navbar__searchbar--mobile {
  display: none;
}

.activeClassName {
  color: 'pink';
}


// -- !Media Queries - //

// Lg-desktop 1025px - 1200px
// Md-laptop 769px - 1024px
// mobile  375px - 480px
@media only screen and (max-width: 1024px) { // med desktop sizing... anything less than 1024px gets these styles
    .navbar {
      &__title {
        font-size: 15px;
    }

    &__link { // nav bar li
        font-size: 12px;
    }
  }
} 

@media only screen and (max-width: 480px) { // mobile sizing... anything less than 480px gets these styles
    .navbar {
        &__title {
            font-size: 15px;
        }
    
        &__link { // nav bar li
            display: none;
        }
    
        &__searchbar {
            display: none;
            // width: 20%;
        }

        &__menu { // mobile navbar menu
          display: block;
          background: url("/src/assets/icons/menu_bars.png");
          background-repeat: no-repeat;
          background-size: contain;
          filter: invert(100%);
          width: 50px;
          height: 35px;
          padding-right: 20px;
        }
    }
} 
