@use './variables.scss'; 

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: variables.$background;
  color: variables.$text;
  white-space: nowrap;

  &__container {
    width: 40%;
  }
  
  &__title {
      width: 25%;
      text-align: left;
      font-size: 20px;
      padding-left: 20px;
      color: variables.$text;
      cursor: pointer;
      border: none;
      background: unset;
  }

  &__container {
    width: 40%;
  }

  &__link { // nav bar li
      display: inline-block;
      text-decoration: none;
      text-align: center;
      width: 33%;
      color: grey;
      transition: color 0.5s ease;

      &--selected {
        color: variables.$primary;
      }

      &:hover {
        color: variables.$text;
      }
  }

  &__menuBars {
      display: none;
  }

  &__menu { // mobile navbar menu
    display: none;
  }
}

.navbarMobile {
  display: none;
}

.activeClassName {
  color: 'pink';
}


// -- !Media Queries - //

// Lg-desktop 1025px - 1200px
// Md-laptop 769px - 1024px
// mobile  375px - 480px
@media only screen and (max-width: 1024px) { // med desktop sizing... anything less than 1024px gets these styles
    .navbar {
      &__title {
        font-size: 15px;
    }

    &__link { // nav bar li
        font-size: 12px;
    }
  }
} 

@media only screen and (max-width: 480px) { // mobile sizing... anything less than 480px gets these styles
    .navbar {
        &__title {
            font-size: 15px;
            width: 50%;
        }
    
        &__link { // nav bar li
            display: none;
        }

        &--mobile {
            &__link { // nav bar li
              display: none;
          }
        }

        &__menu { // mobile navbar hamburger menu button
          display: block;
          background: url("/src/assets/icons/menu_bars.png");
          background-repeat: no-repeat;
          background-size: contain;
          filter: invert(100%);
          width: 50px;
          height: 35px;
          padding-right: 20px;
          border: none;
          cursor: pointer;
          z-index: 10;
        }
    }

    .navbarMobile {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: variables.$background;
      z-index: 100;
      transition: all 0.75s ease;
    
      &__link { // nav bar li
        display: inline-block;
        text-decoration: none;
        font-size: 4em;
        color: grey;
        transition: color 0.5s ease;
        margin: 10px;
    
        &--selected {
          color: variables.$primary;
        }
    
        &:hover {
          color: variables.$text;
        }
      }
    
      &__exit {
        position: absolute;
        background: unset;
        border: unset;
        font-size: 30px;
        color: variables.$primary;
        top: 0;
        left: 0;
        margin: 20px;
        cursor: pointer;
      }
    }
} 
